ICP7/icp7code.json
[{"id":"86de5ef.98fd0a","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"4b9d782f.a29218","type":"inject","z":"86de5ef.98fd0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["ca8b4d9f.e28ca"]]},{"id":"ca8b4d9f.e28ca","type":"function","z":"86de5ef.98fd0a","name":"Traffic Light","func":"context.level = ((context.level + 1) % 3) || 0;\n\nmsg.payload = 1;\nvar msg2 = { payload:0 };\n\nif (context.level === 0) {return [msg, msg2, msg2];}\nelse if (context.level === 1) {return [msg2, msg, msg2];}\nelse {return [msg2, msg2, msg];}\nreturn msg;","outputs":3,"noerr":0,"x":300,"y":120,"wires":[["f4fd94d8.5f6d68"],["5202e44.8ca7f1c"],["2f84fbbc.e06da4"]]},{"id":"f4fd94d8.5f6d68","type":"rpi-gpio out","z":"86de5ef.98fd0a","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":490,"y":80,"wires":[]},{"id":"5202e44.8ca7f1c","type":"rpi-gpio out","z":"86de5ef.98fd0a","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":490,"y":140,"wires":[]},{"id":"2f84fbbc.e06da4","type":"rpi-gpio out","z":"86de5ef.98fd0a","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":500,"y":200,"wires":[]},{"id":"f209b5a6.d0d248","type":"twitter out","z":"86de5ef.98fd0a","twitter":"","name":"Tweet","x":360,"y":260,"wires":[]}]