ICP6/Part2.json
[
    {
        "id": "749a99c8.0357f8",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c98ed3b3.3f637",
        "type": "arduino out",
        "z": "749a99c8.0357f8",
        "name": "",
        "pin": "4",
        "state": "OUTPUT",
        "arduino": "2a659c03.3b3534",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "fc2e4dfb.437e4",
        "type": "inject",
        "z": "749a99c8.0357f8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 40,
        "wires": [
            [
                "283d2898.a82e98"
            ]
        ]
    },
    {
        "id": "4fd5f3b9.2df66c",
        "type": "arduino out",
        "z": "749a99c8.0357f8",
        "name": "",
        "pin": "5",
        "state": "OUTPUT",
        "arduino": "2a659c03.3b3534",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "236928e4.329478",
        "type": "arduino out",
        "z": "749a99c8.0357f8",
        "name": "",
        "pin": "6",
        "state": "OUTPUT",
        "arduino": "2a659c03.3b3534",
        "x": 510,
        "y": 160,
        "wires": []
    },
    {
        "id": "283d2898.a82e98",
        "type": "function",
        "z": "749a99c8.0357f8",
        "name": "Traffic Function",
        "func": "context.level = ((context.level + 1) % 3) || 0;\n\nmsg.payload = true;\nvar msg2 = { payload:false };\n\nif (context.level === 0) {return [msg, msg2, msg2];}\nelse if (context.level === 1) {return [msg2, msg, msg2];}\nelse {return [msg2, msg2, msg];}\nreturn msg;",
        "outputs": 3,
        "noerr": 0,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "c98ed3b3.3f637"
            ],
            [
                "4fd5f3b9.2df66c"
            ],
            [
                "236928e4.329478"
            ]
        ]
    },
    {
        "id": "2a659c03.3b3534",
        "type": "arduino-board",
        "z": "",
        "device": "COM7"
    }
]